{% extends 'esp_wifi/base.html' %}
{% block body %}
    <h3>{{ esp.name }}: {{ esp.pk }}</h3>
    <form action="" method="post">{% csrf_token %}
        {{ form }}
        <div class="py-3">
            <button class="btn btn-success" type="submit" value="Submit!">Submit!</button>
        </div>
    </form>
    {% if commands %}
        <ul class="list-group">
        {% for command in commands %}
            {% if command == the_command %}
                <li class="list-group-item list-group-item-action active">{{ command.name }}</li>
            {% else %}
                <a href="{% url 'esp_wifi:select_command' command.pk %}" class="list-group-item list-group-item-action">{{ command.name }}</a>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}