{% extends 'esp_wifi/base.html' %}
{% block body %}
    {% if request.user.is_active %}
        <h1>{{ request.user.username }}</h1>
        {% if form %}
            <form action="" method="post">{% csrf_token %}
                {{ form }}
                <div class="py-3">
                    <button class="btn btn-success" type="submit" value="Submit!">Submit!</button>
                </div>
            </form>
        {% endif %}
        {% if esps %}
            <h4 class="pt-4">ESP's:</h4>
            <ul class="list-group">
                {% for esp in esps %}
                    <a style="font-size: 110%" class="list-group-item list-group-item-action" href="{% url 'esp_wifi:esp' esp.pk %}">{{ esp.name }}</a>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}